{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      {% if user.profile.profile_picture.url %}
      <img class="profile_picture"
         src="{{ user.profile.profile_picture.url }}" style="height: 20vh; width:20vh;" alt="">
         {% else %}
        <img class="profile_picture"
           src="https://res.cloudinary.com/badgerz/image/upload/v1632757436/avatar1_oqmyig.png" style="height: 20vh; width:20vh;" alt="">
           {% endif %}

        <h2 class="">{{user.username}}</h2>
      </div>
      <div class="col-md-3"></div>
    </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <table class="table table-striped" border="1">
            <tr>
              <th>First Name</th>
              <td>{{ user.profile.first_name }}</td>
            </tr>
            <tr>
              <th>Last Name</th>
              <td>{{ user.profile.last_name}}</td>
            </tr>
            <tr>
              <th>Username</th>
              <td>{{ user.username}}</td>
            </tr>
            <tr>
              <th>Biography</th>
              <td>{{ <user class="profile biography"></user> }}</td>
            </tr>
            <tr>
              <th>Email Address</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <th>Location</th>
              <td>{{user.profile.location}}</td>
            </tr>
            <tr>
              <th>Posts</th>
              <td>{{user_posts|length}}</td>
            </tr>
          </table>
          <div class="text-center">
          <a  href="{% url 'update_profile' %}">
          <button class="btn btn-success">Save Details</button>
        </a>
      </div>
        </div>
        <div class="col-md-3"></div>
      </div>
          
      

</div>
{% endblock %}